body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.bytemd {
  height: 100% !important;
  max-height: 80vh;
  overflow-y: scroll;
}
